// Media screen variables
$small-mobile: 375px;
$tablet: 768px;
$screen-sm: 1280px;
$screen-md: 1546px;
$screen-lg: 1920px;

// Colors
$primary-blue: #1890ff;
$background-dark: #747272;
$header-background: #242424;
$header-dark-background: #1f1e1e;
$border-gray: #9e9e9e;
$input: #e8e8e8;
$white: #FFF;