@import '_variables';

mat-card{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 24px 0px $header-background;
    mat-card-content, form{
        text-align: center;
    }
}
form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    .section{
        margin-top: 15px;
        height: 50px;
    }
    .full-width {
        width: 100%;
        input{
            color: $input;
        }
      }
}
.button{
    margin: 15px 0;
    
}

:host{
    color: $input;
}